body {
  margin: 0;
  padding: 0;
}

div{
  display: block;
  text-align: center;
}

.page {
  /* Page is full windows size */
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color:#FFFFFF;
  z-index: 1;

  /* By default all pages are hiden on the right of the screen */
  float: left;
  margin-left: 100%;
  display: none;
}

.visible-page {
  display: block;
  margin-left: 0%;
}


.auto-height {
  height: auto;
}

.question {
  display: block;
}

#question_age {
  width: 20em;
  max-width: 70%;
}

.results-h1 {
  color: #191919;
  font-weight: bold;
  font-size: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

.question-h1 {
  color: #191919;
  font-weight: bold;
  font-size: 3em;
  padding-top: 3em;
  padding-bottom: 1em;
}

.question-h2 {
  color: #191919;
  font-weight: bold;
  font-size: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}

/*
 * EPFL Logo
 */
#EPFL_logo {
  position: absolute;
  top: 0;
  left: 0;
  margin: 15px;
  margin-bottom: 50px;
  z-index: 50;
  text-align: left;
}

/*
 * Results loader
 */
 #EPFL_logo {
  width: 50%;
}

/*
 * Result cards
 */ 
#results {
  min-height: 100%;
}

.card-h1 {
  color:191919;
  font-size: 1em;
  font-weight: bold;
}

.animate {
  animation-duration: 0.5s;
  animation-name: animate-fade;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
    
@keyframes animate-fade {
    0% { opacity: 0; }
  100% { opacity: 1; }
}

.animate.slide { animation-name: animate-slide; }

@keyframes animate-slide {
  0% {
    opacity: 0;
    transform: translate(0, 20px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

/*
 *  Previous button
 */
#previousButton {
  position: fixed;
  display: none;
  bottom: 1em;
  left: 1em;
  z-index: 50;
}

#previousButton img {
  height: 2.5em; 
}

/*
 *  Filter button
 */
 #filtersButton {  
  position: fixed;
  display: none;
  bottom: 1em;
  right: 1em;
  z-index: 50;
}

#filtersButton img {
  height: 2.5em; 
}

.filterTitle {
  margin-top: 1em;
}

/**
 *  Figcaption
 */
figcaption {
  position: absolute;
  top: 0.3em;
  right: 0.6em;
}

figcaption i {
  font-size: 1.5rem;
  color: white;
}